{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup - Smart Study Planner</title>
 <link rel="stylesheet" href="{% static 'planner/css/signup.css' %}">
</head>
<body>
<!-- Navbar include -->
  {% include 'planner/navbar1.html' %}
   <div class="signup-body">
    <div class="signup-container">
    <h1>Create Account</h1>
    <p>Organize your classes, tasks and exams smartly.</p>

    <form onsubmit="signup(event)">
      <div class="form-group" data-icon="👤">
        <input type="text" id="firstName" placeholder="First Name" required>
      </div>
      <div class="form-group" data-icon="👤">
        <input type="text" id="lastName" placeholder="Last Name" required>
      </div>
      <div class="form-group" data-icon="📧">
        <input type="email" id="email" placeholder="Email Address" required>
      </div>
      <div class="form-group" data-icon="🔒">
        <input type="password" id="password" placeholder="Password" required>
      </div>
      <div class="form-group" data-icon="🔒">
        <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
      </div>

      <button type="submit" class="btn">Sign Up</button>
    </form>

    <div class="or">OR</div>
    <button class="google-btn">
      <img src="{% static 'planner/img/google-icon.png' %}" alt="Google"> Continue with Google
    </button>
    
    <div class="login-link">
      Already have an account? <a href="login.html">Sign in</a>
    </div>

    <div class="terms">
      By continuing, you agree to Smart Study Planner’s<br>
      <a href="#" style="color:#0077cc; font-weight:600; text-decoration:none;">Terms of Service</a> and 
      <a href="#" style="color:#0077cc; font-weight:600; text-decoration:none;">Privacy Policy</a>.
    </div>
  </div>
</div>
<!-- Footer include -->
  {% include 'planner/footer.html' %}   
</body>
</html>
